.info{
    padding-top: 100px;
    padding-left: 300px;
    display: flex;
}

.info img{
    border: 1px solid rgb(27, 25, 23);
    border-radius: 20px;
    overflow: hidden;
    width: 500px;
    height: 500px;
    transition: transform 0.5s; 
}
.info img:hover{
    
    transform: scale(1.02);
}
.left{
    margin-left: 200px;
}
.name{
    color: rgb(34, 112, 53);
    font-weight: bolder;
    margin-bottom: 30px;
}
.left >div{
    margin-bottom: 10px;
}

.left p {
    display: inline; 
    margin: 10px;
}

.quantity-input {
    margin-top: 200px;
    width: 60px; 
}
